<!--============================================================================================================================-->
<!--Панель поиска-->
<!--============================================================================================================================-->

<div class="row">
    <div id="search-block" class="col-md-12">
        <!--Блок поиска-->
    </div>
</div>
<!--============================================================================================================================-->
<!--Блок загрузки элементов изображений-->
<!--============================================================================================================================-->


<div id="images-block">
    <!--IMAGE BLOCK WITH LIKES,COMMENTS,CAPTION AND USERS IMAGE -->
</div>

<!--============================================================================================================================-->
<!--Блок кнопки "Load more"-->
<!--============================================================================================================================-->
<div class="row margin-top">
    <div class="col-md-12" id="more-button">

    </div>
</div>
