<!--============================================================================================================================-->
<!--Панель поиска-->
<!--============================================================================================================================-->

<div class="row">
    <div id="search-block" class="col-md-12">
        <!--Блок поиска-->
    </div>
</div>
<!--============================================================================================================================-->
<!--Блок загрузки элементов изображений-->
<!--============================================================================================================================-->


<div id="images-block">
    <!--IMAGE BLOCK WITH LIKES,COMMENTS,CAPTION AND USERS IMAGE -->
</div>

<!--============================================================================================================================-->
<!--Блок кнопки "Load more"-->
<!--============================================================================================================================-->
<div class="row margin-top">
    <div class="col-md-12" ng-controller="addMoreController">
        <button id="more-button" type="button" class="center-block btn btn-default" ng-show="data.images.length > 0"
                ng-click="addMore(text)">Load more...
        </button>
    </div>
</div>
