<div class="row margin-top">


    <!--========================================================================================================================-->
    <!--аватар-->
    <!--========================================================================================================================-->
    <div class="col-md-3">
        <div class="media">
            <a class="pull-right" href="#">
                <img class="media-object img-thumbnail img-responsive set-shadow ava"
                     src="<%= user.profile_picture %>" alt="<%= user.full_name %>">
            </a>

            <div class="media-body text-right">
                <h4 class="media-heading"><a ng-href="#" class="user-name-text"><%= user.full_name %></a></h4>

            <span class="timeago-text">
                    <div class="timeago" title="<%= created_time + '000' %>"><%= created_time + '000' %></div>
            </span>


            </div>

        </div>
    </div>

    <div class="col-md-6  press center-bg">
        <!--========================================================================================================================-->
        <!--Изображение-->
        <!--========================================================================================================================-->

        <div class="set-shadow image-block" xmlns="http://www.w3.org/1999/html">
            <div>
                <a href="#/photos/<%= id %>">
                    <img class="img-responsive" src="<%= images.standard_resolution.url %>">
                </a>
            </div>


            <!--========================================================================================================================-->
            <!--Панель лайков под картинкой-->
            <!--========================================================================================================================-->

            <div class="panel panel-default">

                <like-panel></like-panel>

                <!--========================================================================================================================-->
                <!--Панель описания-->
                <!--========================================================================================================================-->
                <div class="min-max-height-caption panel-body" ng-show="caption.text.length > 1">

                    <div caption></div>

                </div>

                <!--========================================================================================================================-->
                <!--Панель комментариев-->
                <!--========================================================================================================================-->
                <comments-panel></comments-panel>
                <!--========================================================================================================================-->
                <!--Футер-панель для введения комментариев-->
                <!--========================================================================================================================-->
                <div class="panel-footer" ng-controller="addCommentCtrl">
                    <form>
                        <input class="form-control commentsField" type="text" ng-model="model.tempText"
                               placeholder="Write a comment..."/>
                        <button type="submit" class="hidden-submit" value="submit"
                                ng-click="addComment(image,image.tempText)">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>