

    <div class="media">
        <a class="pull-right" href="#">
            <img class="media-object img-thumbnail img-responsive set-shadow ava"
                 src="<%= user.profile_picture %>" alt="<%= user.full_name %>">
        </a>

        <div class="media-body text-right">
            <h4 class="media-heading"><a ng-href="#" class="user-name-text"><%= user.full_name %></a></h4>

            <span class="timeago-text">
                    <div> <%= created_time + '000' %>"></div>
            </span>


        </div>

    </div>
